.active{
    background-color: blue !important;
  }
  
  body{

background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.btn_remove{


    width: 0;
    display: none;
    
    
    
    
    }
    tr:hover .btn_remove {
    
    
        width: 40px;
        display: block;
         
        
    
        
    }